<div class="container">
  <!-- <div *ngIf="items.length == 0">
    No wishes to display.
  </div> -->

  <add-wish-form
    (addWish)="items.push($event)"
  ></add-wish-form>

  <!--<ng-template #noItems>
    No wishes to display.
  </ng-template>-->

  <div class="filterDiv">
    <wish-filter
      (filter)="filter = $event"
    ></wish-filter>
  </div>

  <div>
    <wish-list [wishes]="items.filter(filter)"
    ></wish-list>
  </div>

  <!--<div class="wishesDiv">
    <div *ngIf="visibleItems.length == 0; else showItems">--> <!--Basic If Else using ng-template in this case checks if items.length wishItem.ts used in app.component.ts is equal to 0 and if not uses template showItems-->
      <!-- <span class="noWishes">No wishes to display.</span>
    </div> -->
  
    <!--<ng-template #showItems>--> <!--Template that gets show when called in the If Else statement-->
      <!--<ul *ngIf="items.length > 0" class="wishlist">
        <li class="wishesCheckbox" *ngFor="let item of visibleItems; index as ii">
          <label class="WishesCheckboxLabel">
            <input type="checkbox" class="checkbox" [checked]="item.isComplete" [attr.data-index]="ii" (click)="toggleItem(item)"> {{ item.wishText }}--> <!--data-index is linked to the index of the *ngFor loop -->
          <!-- </label>
        </li>
      </ul>
    </ng-template>
  </div>  -->

  <!-- <ul *ngIf="items.length > 0" class="wishlist">
    <li class="wishesCheckbox" *ngFor="let item of items">
      <label class="WishesCheckboxLabel">
        <input type="checkbox" class="checkbox"> {{ item.wishText }}
      </label>
    </li>
  </ul> -->
</div>
